body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: #1F4395;
}
.landing{
    width: 40%;
    float: left;
    margin-left: 6.5%;
    padding-left: 2%;
    /* margin: 5%; */
}
.landing img{
    width: 80%;

    float: right;
}
.test{
    margin: 10px 20px ;
}
.first-section{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* padding: 50px 0px 0px 0px; */
    background-color:#e5e5e5;
}
#logo{
    width: 20%;
    float: left;
}
