body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: #1F4395;
}
.landing{
    width: 40%;
    float: left;
    margin-left: 6.5%;
    padding-left: 2%;
    /* margin: 5%; */
}
.landing img{
    width: 80%;
    height: 80%;
    float: right;
}
.test{
    margin: 10px 20px ;
}
